In [18]:
fruits=["apple","orange","banana","coconut"]
print(fruits)
print(fruits[3])
print(fruits[0:3])
print(fruits[::3])

['apple', 'orange', 'banana', 'coconut']
coconut
['apple', 'orange', 'banana']
['apple', 'coconut']

In [3]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
print(len(fruits))
fruits[0]="pineapple"
"kiwi" in fruits

6

False

In [ ]:
fruits.append("apple")
fruits.remove("pineapple")
fruits.pop(1)
fruits.insert(1,"pineapple")
print("")

pop

In [19]:
fruits=["apple","orange","banana","coconut"]
fruits.sort()
fruits.reverse()
print("fruits")

fruits

In [24]:
print(fruits.index("apple"))
print(fruits.count("pineapple"))

3
0

In [ ]:
#list1=[1,2,3,[4,5]]
print(1 in list1)
print([4,5] in list1)
print(4 in list1)
print(4 in list[3])

True
True
False
False

In [ ]:
#list inside a list
#list=[1,2,3,[4,5,[6,7,8],9]]
print(list[3])
print(list[3][2])
print(list[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [30]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [31]:
words=['apple','banana','cherry']
uppercased=[word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [41]:
fruits={"apple","orange","banana","coconut","coconut","apple"}

In [38]:
print(fruits)

{'orange', 'apple', 'coconut', 'banana'}

In [35]:
print(dir(fruits))
print(fruits[0])

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

TypeError: 'set' object is not subscriptable

In [42]:
fruits.remove("apple")
fruits.pop()
print(fruits)

{'coconut', 'banana'}

In [49]:
college={"bus","builidng","guard"}
college.remove("bus")

In [50]:
college.remove("bus")

KeyError: 'bus'

In [45]:
college.discard("bus")

In [51]:
college.remove("building")

KeyError: 'building'

In [52]:
print(college)

{'guard', 'builidng'}

In [53]:
fruits=("apple","banana","coconut","coconut")
print(fruits)

('apple', 'banana', 'coconut', 'coconut')

In [54]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [55]:
len(fruits)
print(fruits[0])
print(fruits.count("coconut"))

apple
2

In [57]:
newTuple=('Apple','Banana','Cherry','Watermelon')
y=('Orange',)
newTuple+=y
print(newTuple)

('Apple', 'Banana', 'Cherry', 'Watermelon', 'Orange')

In [67]:
fruits=('apple','banana','cherry','passion')
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)
(green,yellow,*red)=fruits

apple
banana
['cherry', 'passion']

In [69]:
t=(1,2,(3,4),["a","b"])

In [ ]:
#list=[1,'hello',3.14,True]
tuple=(1,'hello',3.14,True)
set={1,'hello',3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {'hello', 1, 3.14}

In [78]:
i=0;
while i<len(fruits):
    print(fruits[i])
    i=i+1
    print(fruits*2)

a
applesapples
p
applesapples
p
applesapples
l
applesapples
e
applesapples
s
applesapples

In [82]:
fruits=('apples')
list(fruits)

TypeError: 'list' object is not callable

In [87]:
student={
    1:'first',
    'name':'Alice',
    'age':20,
    'courses':['Math','Science']
}
print(student['age'])
print(student.get('age'))
student=dict(name='Alice',age=20,city='London')

20
20

In [88]:
student['job']='Engineer'
student['age']=26
print(student)

{'name': 'Alice', 'age': 26, 'city': 'London', 'job': 'Engineer'}

In [89]:
del student['age']

In [90]:
print(student)

{'name': 'Alice', 'city': 'London', 'job': 'Engineer'}

In [91]:
if 'Alice' in student.values():
    print('Name exists')
else:
    print('Name does not exist')

Name exists

In [94]:
for key in student:
    print(key)
    for value in student.values():
          print(value)
    for key,value in student.items():
         print(key,value)

name
Alice
London
Engineer
name Alice
city London
job Engineer
city
Alice
London
Engineer
name Alice
city London
job Engineer
job
Alice
London
Engineer
name Alice
city London
job Engineer

In [98]:
#nested dictionary
students={
'student1':{'name':'Alice','age':20 },
'student2':{'name':'Bob','age':22}
}
print(students['student1']['name'])

Alice

In [96]:
squares={x: x*x for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}